.text-mono {
	font-family: ocr-a-std, monospace;
}

.border-blue {
	border-color: #59b5f1;
}

.bg-blue {
	background-color: #59b5f1;
}

.gradient-title {
	text-shadow: 1px 2px 4px rgba(33,1,65,.5); 
	background: #1e5799; 
	background: -moz-linear-gradient(left,  #1e5799 0%, #ff1b6b 0%, #a172b5 50%, #6bc7f9 100%); 
	background: -webkit-linear-gradient(left,  #1e5799 0%,#ff1b6b 0%,#a172b5 50%,#6bc7f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #1e5799 0%,#ff1b6b 0%,#a172b5 50%,#6bc7f9 100%);
}

.product-item {
	transition: all 0.3s ease-in-out;
}

#legal-provider-directory {
	font-family: proxima-nova, sans-serif;
}

.filter-sidebar input[type="checkbox"] {
	appearance: none;
	border-width: 1px;
	border-style: solid;
	width: 15px;
	height: 15px;
	transition: all 0.3s ease-in-out;
}
	.filter-sidebar input[type="checkbox"]:checked {
		background-color: #59b5f1;
	}

