#listing-layout-toggle span {
	transition: all 0.3s ease-in-out;
}	

#listing-layout-toggle .opacity-1 svg {
	fill: #000;
}

.item-listing.listing-layout-grid .item-item {
	width: calc(25% - 1rem)
}

.item-listing.listing-layout-grid .item-item-data {
	display: none;
}
