.filter-sidebar input[type="checkbox"] {
	appearance: none;
	border-width: 1px;
	border-style: solid;
	width: 15px;
	height: 15px;
	transition: all 0.3s ease-in-out;
}
	.filter-sidebar input[type="checkbox"]:checked {
		background-color: #ff1b6b;
		width: 15px;
		height: 15px;
	}


.filter-base,
.filter-more-icon {
	transition: all 0.2s ease-in-out;
}

.filter-icon.bg-blue svg {
	fill: #fff;
}

.filter-more-icon:hover {
	opacity: 1;
}
.filter-more-icon:hover svg {
	fill: #59b5f1;
}

.search-focused .filter-more-icon,
.filter-more-active .filter-more-icon {
	opacity: 1;
	background: #59b5f1;
}

.filter-more-active .filter-more-icon svg,
.search-focused .filter-more-icon svg {
	fill: #fff;
}

.filter-more-active .filter-more-icon:hover svg,
.search-focused .filter-more-icon:hover svg {
	fill: #fff;
}