#listing-layout-toggle span {
	transition: all 0.3s ease-in-out;
}	

#listing-layout-toggle .opacity-1 svg {
	fill: #ff1b6b
}

.product-listing.listing-layout-grid .product-item {
	width: calc(25% - 1rem)
}

.product-listing.listing-layout-grid .product-item-data {
	display: none;
}	